{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Light Sensor Data</title>
    <link href="{% static 'sensor_data/css/_styles.css' %}" rel="stylesheet"/>
</head>
<body>

<div id="container">
    <div class="info-dashboard">
        <h3 id="page-header">Yeti Office Light Levels</h3>
        This page reflects real-time light levels in the Yeti SF Office. <span id="light-blip"></span>
    </div>
    <div class="birdie"></div>
    <div class="house">
        <div class="house-roof">
            <div class="roof__front" ></div>
            <div class="roof__3d"></div>
        </div>
        <div class="house-body">
            <div class="house-window" id="window1">
                <div class="wp"></div>
                <div class="wp"></div>
                <div class="wp"></div>
                <div class="wp"></div>
            </div>
            <div class="house-window" id="window2">
                <div class="wp"></div>
                <div class="wp"></div>
                <div class="wp"></div>
                <div class="wp"></div>
            </div>
        </div>
        <div class="house-body-3d">
            <div class="house-window" id="window3">
                <div class="wp"></div>
                <div class="wp"></div>
                <div class="wp"></div>
                <div class="wp"></div>
            </div>
            <div class="house-window" id="window4">
                <div class="wp"></div>
                <div class="wp"></div>
                <div class="wp"></div>
                <div class="wp"></div>
            </div>
        </div>
    </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-color/2.1.2/jquery.color.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="{% static 'sensor_data/js/animations.js' %}"></script>
<script src="{% static 'sensor_data/js/index.js' %}"></script>

</body>
</html>