@keyframes fadeIn {
    from { opacity: 0;  bottom: 20px; }
    to { opacity: 1; bottom: 0px; }
}

@keyframes rainbow {
    0% {
        background-color: red;
    }
    14% {
        background-color: orange;
    }
    28% {
        background-color: yellow;
    }
    42% {
        background-color: green;
    }
    66% {
        background-color: blue;
    }
    80% {
        background-color: indigo;
    }
    100% {
        background-color: purple;
    }
}

@keyframes vibrate {
    0% {transform:rotate3d(3,3,3,1deg);}
    50% {transform:rotate3d(3,3,3,-1deg);}
    100% {transform:rotate3d(3,3,3,0deg);}
}

.rainbow-cake {
    animation: rainbow 2.5s infinite;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
}

#container {
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative;
    font-family: sans-serif;
    overflow: hidden;
}

.bar-container {
    width: 90%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px auto;
    height: 30px;
    background-color: white;
    padding: 3px;
}

.bar {
    width: 0%;
    background-color: blue;
    height: 100%;
    border-radius: inherit;
}

.bar-label {
    width: 100%;
}

.bar-label * {
    position: absolute;
    top: 31%;
}

.birdie {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
    bottom: 10px;
    left:10px;
}

.current-level-container {
    margin-top: 30px;
    text-align: center;
    font-size: 50px;
    height: 225px;
    overflow: inherit;
}

.current-level-item {
    position: relative;
    animation: fadeIn 0.5s;
}

.tiny-message {
    font-size: 10px;
    position: absolute;
    left: 59%;
    top: 46%;
}

.zero {
    left: 5%;
}

.thousand {
    right: 5%;
}

h1 {
    text-align: center;
}

.house {
    position: absolute;
    bottom: -1vh;
    right: 20vw;
}

.house-roof {
    width: 20vw;
    height: 100px;
}

.roof__front {
    height: 0;
    width: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid red;
    position: absolute;
}

.roof__3d {
    height: 100px;
    width: 200px;
    background-color: red;
    transform: skew(45deg) translateX(150px);
}

.house-body {
    height: 20vh;
    background-color: blue;
    width: 200px;
    position: relative;
    display: inline-block;
    margin-right: -5px;
}

.house-body-3d {
    display: inline-block;
    height: 20vh;
    background-color: #020232;
    width: 198px;
    position: relative;
}

.house-window {
    position: absolute;
    top: 20%;
    height: 50px;
    width: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#window1 {
    left: 15px;
}

#window2 {
    left: 134px;
}

#window3 {
    left: 15px;
}

#window4 {
    left: 134px;
}

.wp {
    width: 20px;
    height: 20px;
    background-color: yellow;
    margin-bottom: 10px;
}